@model ProductProductBundleMasterModel
@using Nop.Plugin.Misc.ProductBundle.Model.Web
@using Nop.Web.Framework.UI
@{
    Html.AppendCssFileParts("~/Plugins/Misc.ProductBundle/Content/css/owlcarousel/owl.carousel.min.css");
    Html.AppendCssFileParts("~/Plugins/Misc.ProductBundle/Content/css/owlcarousel/owl.theme.default.min.css");

    Html.AppendCssFileParts("~/Plugins/Misc.ProductBundle/Themes/Emporium/Content/css/ProductProductBundle.css");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.ProductBundle/Content/Scripts/owlcarousel/owl.carousel.min.js");
}

@if (!Model.ShowItems)
{
    if (Model.ProductBundleListModel.Any())
    {
        <div class="product-bundle-holder" style="background-color: @Model.BackgroundColor">
            @if (!string.IsNullOrWhiteSpace(Model.DesktopPictureUrl))
            {
                <div class="product-bundle-picture-holder-desktop">
                    <img src="@Model.DesktopPictureUrl" title="محصولات هدیه" alt="محصولات هدیه"/>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.MobilePictureUrl))
            {
                <div class="product-bundle-picture-holder-mobile">
                    <img src="@Model.MobilePictureUrl" title="محصولات هدیه" alt="محصولات هدیه"/>
                </div>
            }
            <div class="product-bundle-carousel-holder @if (string.IsNullOrWhiteSpace(Model.DesktopPictureUrl)) { <text> product-bundle-carousel-holder-one-row </text> } ">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.ProductBundleListModel)
                    {
                        <div class="card card-1 item product-detail-cart" style="background-color: @Model.ProductBoxColor">
                            <a href="@item.ProductSeName">
                                <div class="card-div-img" style="background-image: url('@item.ProductPictureUrl');">

                                </div>
                                @*<img class="card-img" src="@item.ProductPictureUrl" title="@item.ProductName" alt="@item.ProductName">*@
                            </a>
                            <a href="@item.ProductSeName" target="_blank">
                                <span class="card-product-name">@item.ProductName</span>
                            </a>
                            <div class="card-price-holder">
                                @if (!string.IsNullOrWhiteSpace(item.Percentage))
                                {
                                    <div class="card-percentage">
                                        @item.Percentage %
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.OldPrice))
                                {
                                    <p class="card-pld-price">@item.OldPrice</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        @if (Model.ScriptInFooter)
        {
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('.owl-carousel').owlCarousel({
                        rtl: true,
                        nav: true,
                        loop: false,
                        margin: 10,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: true
                            },
                            400: {
                                items: 2,
                                nav: true
                            },
                            600: {
                                items: 3,
                                nav: true
                            },
                            1200: {
                                items: 4,
                                nav: true
                            }
                        }
                    })
                });
            </script>
        }
        else
        {
            <script>
                $(document).ready(function () {
                    $('.owl-carousel').owlCarousel({
                        rtl: true,
                        nav: true,
                        loop: false,
                        margin: 10,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: true
                            },
                            400: {
                                items: 2,
                                nav: true
                            },
                            600: {
                                items: 3,
                                nav: true
                            },
                            1200: {
                                items: 4,
                                nav: true
                            }
                        }
                    })
                });
            </script>
        }
    }

    @if (Model.StartDate.HasValue && Model.EndDate.HasValue)
    {
        <input type="hidden" id="countDownDate" />

        <script>
            document.getElementById('product-timer-holder').style.display = "block";
            //document.getElementsByClassName('product-timer')[0].style.borderColor = "@Model.ProductTimerColor";
            document.getElementsByClassName('product-timer')[0].style.backgroundColor = "@Model.ProductTimerColor";
            //document.getElementsByClassName('product-timer-left')[0].style.color = "@Model.ProductTimerColor";
            document.getElementsByClassName('product-timer-right')[0].style.color = "@Model.ProductTimerColor";
            document.getElementById('product-timer-title').innerHTML  = "@Model.ProductTimerTitle";

            var temp = new Date("@Model.EndDate.Value.Year",
                "@(Model.EndDate.Value.Month - 1)", "@Model.EndDate.Value.Day", "@Model.EndDate.Value.Hour",
                "@Model.EndDate.Value.Minute", "@Model.EndDate.Value.Second")
            document.getElementById("countDownDate").value = temp;

            // Update the count down every 1 second
            var x = setInterval(function () {
                // Get today's date and time
                var now = new Date().getTime();
                // Find the distance between now and the count down date
                var date = new Date(document.getElementById("countDownDate").value);
                var distance = Date.parse(date) - now;
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                var strDays = "";
                if (days > -1 && days < 10) {
                    strDays = "0" + days;
                } else {
                    strDays = days;
                }

                var strHours = "";
                if (hours > -1 && hours < 10) {
                    strHours = "0" + hours;
                } else {
                    strHours = hours;
                }

                var strMinutes = "";
                if (minutes > -1 && minutes < 10) {
                    strMinutes = "0" + minutes;
                } else {
                    strMinutes = minutes;
                }

                var strSeconds = "";
                if (seconds > -1 && seconds < 10) {
                    strSeconds = "0" + seconds;
                } else {
                    strSeconds = seconds;
                }

                var ele = document.getElementsByClassName("timer");
                //var i;
                //for (i = 0; i < ele.length; i++) {
                  ele[0].innerHTML = strDays + ":" + strHours + ":"
                    + strMinutes + ":" + strSeconds;
                //}

            }, 1000);
        </script>
    }
}
else
{
    <div id="productProductBundleHolder">
    </div>
}


