@model PharmaProductModel
@using Nop.Plugin.Misc.Pharma.Models

@using System.Collections.Generic;


@{
    Layout = "_ConfigurePlugin";
    Html.AddCssFileParts("~/Plugins/PharmaProducts/Content/styles.css", excludeFromBundle: true);
    Html.SetActiveMenuItemSystemName("Products");
}


<form asp-controller="Pharma" asp-action="ViewAndImport" method="post" id="product-form">

    <nop-panels id="product-panels">
        <nop-panel asp-name="product-info" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.Products.Info")" asp-advanced="false">

            <div class="panel-body">
                @(Html.LocalizedEditor<PharmaProductModel, PharmaProductLocalizedModel>("product-info-localized",
               @<div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="@Model.Locales[item].Name" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="@Model.Locales[item].Name" />
                   <span asp-validation-for="@Model.Locales[item].Name"></span>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="@Model.Locales[item].ShortDescription" />
               </div>
               <div class="col-md-9">
                   <nop-textarea asp-for="@Model.Locales[item].ShortDescription" />
                   <span asp-validation-for="@Model.Locales[item].ShortDescription"></span>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="@Model.Locales[item].FullDescription" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="@Model.Locales[item].FullDescription" asp-template="RichEditor" />
                   <span asp-validation-for="@Model.Locales[item].FullDescription"></span>
               </div>
            </div>
            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
        </div>
                  ,
              @<div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="Name" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="Name" asp-required="true" />
                   <span asp-validation-for="Name"></span>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="ShortDescription" />
               </div>
               <div class="col-md-9">
                   <nop-textarea asp-for="ShortDescription" />
                   <span asp-validation-for="ShortDescription"></span>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="FullDescription" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="FullDescription" asp-template="RichEditor" />
                   <span asp-validation-for="FullDescription"></span>
               </div>
            </div>
         </div>))
            </div>
        </nop-panel>

    </nop-panels>

</form>





