@model ActivationCodeModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Plugin.Misc.LoginWithMobile.Models

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("تغییر شماره موبایل").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");

    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Plugins/Misc.LoginWithMobile/Themes/Avenue/Content/Style.css");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.LoginWithMobile/Themes/Avenue/Content/Script.js");
}

@section AccountNavigation
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Info })
}

<div class="page login-page">
    <div class="page-body">
        <div class="customer-blocks login-mobile-holder">
            <div class="customer-block login-block login-block-left">
            </div>
            <div class="customer-block login-block">
                <form class="wrapper" asp-route="ActivationCode" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                    @Html.HiddenFor(model => model.Username)
                    @Html.HiddenFor(model => model.ReturnUrl)
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="title">
                        <strong>کد فعال سازی را وارد کنید</strong>
                    </div>
                    <div class="activation-code-description">
                        کد فعال سازی به شماره موبایل @Model.Username ارسال شده است
                    </div>
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="ActivationCode" asp-postfix=":">کد فعال سازی</label>
                            <input asp-for="ActivationCode" type="tel" dir="ltr" maxlength="6" class="username" autofocus="autofocus" />
                            <span class="inputs-icons">&#x61;</span>
                            <span asp-validation-for="ActivationCode"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                    </div>
                    <div id="timer-decription">
                        ارسال مجدد کد فعال سازی تا
                        <span id="timer">
                            00:00
                        </span>
                        دیگر
                    </div>
                    <a id="send-activation-code-again" class="login-with-email-a lwm-display-no">ارسال دوباره کد فعال سازی</a>
                    <div class="buttons btn-login-holder">
                        <input class="button-1 login-button" type="submit" value="تغییر شماره موبایل" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="countDownDate" />

<script asp-location="Footer">
    var temp = new Date("@Model.ActivationCodeExpiredDate.Year",
        "@(Model.ActivationCodeExpiredDate.Month - 1)", "@Model.ActivationCodeExpiredDate.Day", "@Model.ActivationCodeExpiredDate.Hour",
        "@Model.ActivationCodeExpiredDate.Minute", "@Model.ActivationCodeExpiredDate.Second")
        document.getElementById("countDownDate").value = temp;

        // Update the count down every 1 second
        var x = setInterval(function () {
            // Get today's date and time
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var date = new Date(document.getElementById("countDownDate").value);
            var distance = Date.parse(date) - now;
            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            var strMinutes = "";
            if (minutes > -1 && minutes < 10) {
                strMinutes = "0" + minutes;
            } else {
                strMinutes = minutes;
            }

            var strSeconds = "";
            if (seconds > -1 && seconds < 10) {
                strSeconds = "0" + seconds;
            } else {
                strSeconds = seconds;
            }

            var ele = document.getElementById("timer");
            if (minutes >= 0 && strSeconds >= 0) {
                ele.innerHTML = strMinutes + ":" + strSeconds;

            }

            if (ele.innerHTML == "00:00") {
                $("#timer-decription").hide();

                $("#send-activation-code-again").addClass("lwm-display-block");
                $("#send-activation-code-again").removeClass("lwm-display-none");
            } else {
                $("#timer-decription").show();
            }
        }, 1000);

    $(document).ready(function () {
        $("#send-activation-code-again").click(function (e) {
            e.preventDefault();

            var postData = {
                phonenumber : $("#Username").val()
            }
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                url: "/GetActivationCodeChange",
                type: "POST",
                data: postData,
                dataType: "json",
                success: function (data) {
                    if (data.message == "success") {
                        $("#countDownDate").val(data.expireDate);

                        $("#timer-decription").show();

                        $("#send-activation-code-again").addClass("lwm-display-none");
                        $("#send-activation-code-again").removeClass("lwm-display-block");
                    }
                    else
                        alert(data.message);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
                complete: function (jqXHR, textStatus) {
                }
            });

        });
    });
</script>
